[defaults]
inventory = ./inventory/generated.yml, ./inventory/lab/hosts.yml
roles_path = ./roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
retry_files_enabled = False
timeout = 15
forks = 10
gathering = explicit
interpreter_python = auto_silent
stdout_callback = default
bin_ansible_callbacks = True
log_path = /root/artifacts/ansible/ansible.log
display_args_to_stdout = False
no_target_syslog = True
local_tmp = /tmp
remote_tmp = /tmp/ansible-remote

[inventory]
enable_plugins = yaml, ini, auto

[ssh_connection]
pipelining = True

[persistent_connection]
connect_timeout = 15

[privilege_escalation]
become = False
